.Video{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
    background: rgb(251, 235, 233);
    color: rgb(160, 127, 97);
    
}

.Title{
    font-size: 90px;
    font-family: 'Nerko One', cursive;
}

.Emoji{
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
    border-radius: 10%;
    transition: 1000ms;
}

.Emoji:hover{
    cursor: pointer;
    -webkit-box-shadow: 4px 5px 138px 44px rgba(242,187,34,1);
    -moz-box-shadow: 4px 5px 138px 44px rgba(242,187,34,1);
    box-shadow: 4px 5px 138px 44px rgba(242,187,34,1);
}

@media(min-width: 200px){
    .Title{
        font-size: 25px;
    }
 }

@media(min-width: 1000px){
   .Title{
       font-size: 40px;
   }
}

@media(min-width: 1300px){
    .Title{
        font-size: 60px;
    }
}
@media(min-width: 1700px){
    .Title{
        font-size: 80px;
    }
}